footer{
    padding-top: 50px;
    /* padding-bottom: 50px; */
    position: relative;
    background: #222222;
    color: white;
    text-align: left;
}

.footer ul{
    list-style: none;
}

.footer ul li a{
    color: white;
    text-decoration: none;
}

.footer-text p{

        font-size: 1rem;
        font-weight: 100;
        color: rgb(219, 219, 219);
        font-family: 'Poppins', sans-serif;
        text-align: left;
}

.footer-text h4{
    margin-left: 150px;
    color:#fbc91c;
}
