@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');





:root {
    --yellow:#ffcb09;
    --brown:#3b2414;
    --lightgrey:#bbbdc1;
    --darkgrey: #7f8484;
}

::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgb(211, 211, 211);
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(117, 117, 117);
    border-radius: 8px;
  
  
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(155, 155, 155);
    opacity: 1;
  }

body{
    margin:0px;
    padding: 0px;
    font-weight: bold;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
}


.banner{
    background: linear-gradient(to left,rgba(0, 0, 0, 0.466) ,rgba(0, 0, 0, 0.678)) , url("./images/banner.jpg");
    background-size: cover;
    padding-top: 12em;
    padding-bottom: 5em;
    background-position: center;
    background-position-y: -700px;
    position: relative; 
}


.banner .container .text{
    text-align: center;
    color: white;
    font-size: 24px;
}


.banner .container .text h1{
    color: #fbc91c;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    z-index: 1000;
    margin-top: 100px ;
}


.banner .container .text .custom-btn{
    background-color: #fbcb1c69;
    border: 2px solid #fbc91c;
    color: white;
    font-weight: 600;
    width: 10rem;
    height: 4rem;
    border-radius: 50px;
    margin-top: 100px ;

}

.banner .container .text .custom-btn:hover{
    background-color: #fbc91c;
}

.ads {
    padding-top: 12em;
    padding-bottom: 12em;
}

.adsheader {
    text-align: center;
    display: grid;
    place-items: center;    
}

.adsheader h1{
    position: relative;
    width: max-content;
    margin-bottom: 80px;
    font-size: 64px;
    font-weight: bolder;
}

.adsheader h1::after{
    content: "";
    display: block;
    background-color: var(--yellow);
    width: 100%;
    min-height: 5px;
    margin-top: 1px;
    border-radius: 5px;
}

.services{
    padding-top: 12em;
    padding-bottom: 12em;
}

.services .list{
    margin-bottom: 20px;
    margin-left: 150px;

}

.services .list h3{
    color: #fbc91c;
}

.services .list ul{
    list-style: circle;

}

.services .list ul li{
    font-size: 24px;
    font-weight: 400;
}

.home-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:80%;
    font-family: 'Poppins', sans-serif;
}

.home-img{
    width:500px;
    height:400px;
    margin:10px;
}

.home-img img{
    width: 100%;
    height: 90%;
    object-fit: contain;
    object-position: center;
}

.home-text{
    width:500px;
    margin:90px;
}

.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#fcfcfc	;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.home-text p{
    font-size: 2rem;
    color:#fbc91c	;
}

.aboutserv{
    background-color: #f5f4f4;
    padding-top: 12em;
    padding-bottom: 12em;
}

.aboutserv .container h1{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 64px;
    height: 120px;
    font-size: 64px;

}

.aboutserv .container p{
    font-size: 18px;
    justify-content: center;
    padding-left: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    
}






/*to become responsive*/ 
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #454545	;
        border-bottom: 4px solid #fffb02;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    .home-img{
        display: none;
    }
    .home-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 45vh;
        background-color: rgba(33,33,33,0.35);
        margin: 0px;
    }
    .home-content{
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        background-image: url("../images/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    }
    .home-text h1{
        color:#fff;
        padding: 0px 20px;
        font-size: 2.5rem;
        border: 1px solid #fff;
    }
    .home-text p{
        color:rgb(255, 251, 2);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
   .main{
       background-size: 500px;;
   }
@media(max-width:720px){
    .home-text p{
        width:70%;
        text-align: center;
    }
    .office-number,
    .office-time{
        flex-grow: 1;
        margin: 10px;
    }
    .office-number h3,
    .office-time h3{
        font-size: 1rem;
    }
    .office-time p,
    .office-number p{
        font-size: 0.8rem;
    }
    footer p,a{
        font-size: 0.9rem;
        text-align: center;
    }
    footer{
        padding: 0px 22px;
    }
}
}